// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

// Variables

@title: 3.2rem;
@body: 2.2rem;
@width: 80%;
@header: #2C3141;
@column: #4C5C96;
@content:#3F3E85;
@font: white;

// Mixins

.flex(){
	display: flex;
	justify-content: space-between;
}

.margin(){
	margin-top: 5%;
	margin-bottom: 5%;
}

.sideColumn(){
	width: 40%;
	background-color: @column;
}

.main(){
	width: 60%;
	background-color: @content;
}

.padding(){
	padding: 1% 2% 1%;
}

// Begin code

* {
	box-sizing: border-box;
	max-width: 100%;
}

html {
	font-size: 62.5%;
}

html, body {
	height: 100%;
	font-family: 'Open Sans Condensed', sans-serif;
	color: @font;
}
.container {
	width: @width;
	margin: 0 auto;
	
}

body {
	font-size: @body;
	line-height: 1.5;
	@media (max-width: 500px) {
		font-size: 1.8rem;
	}
	
}

nav {
	display: flex;
	justify-content: space-around;
	background-color: @header;
	a {
		text-decoration: none;
		color: white;
		padding: 3% 0 3%;
		font-size: 1.6rem;

		&:hover {
			color: @column;
		}
	}
}

h2 {
	font-size: @title;
}

header {
	.flex();
	background-color: @content;
	margin-top: 2%;
	padding: 2% 0 2%;

	@media (max-width: 500px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	} // end header media query
	h1 {
		font-size: 4.8rem;
		@media (max-width: 500px){
			font-size: 3.6rem;
		}
	} // end header h1
	p {
		font-size: @title;
		@media (max-width: 500px){
			font-size: 2.6rem;
		}
	} // end header p
	div {
		width: 50%;
	} // end header div
}

img {
	width: 40%;
	margin-left: 25%;
	@media (max-width: 500px) {
		width: 80%;
		margin: 0 10%;
	}
}


.me {
	text-align: center;
	margin-right: 15%;
	@media (max-width: 500px) {
		margin: 0 10%;
	}
}

#top {
	.margin();
	.flex();
	h2 {
		@media (max-width: 500px) {
			font-size: 2.4rem;
		}
	}
	.contact {
		.sideColumn();
		.padding();
	}
	.aboutMe {
		.main();
		.padding();
	}
}

#middle {
	.margin();
	.flex();
	h2 {
		@media (max-width: 500px) {
			font-size: 2.4rem;
		}
	}
	.education {
		.sideColumn();
		.padding();
	}
	.skills {
		.main();
		.padding();
	}
}

#bottom {
	display: flex;
	justify-content: center;
	background-color: @header;
	padding: 1% 0 3%;
	@media (max-width: 500px) {
		padding: 4%;
	}
}

.work h2 {
	text-align: center;
	@media (max-width: 500px) {
		font-size: 2.4rem;
	}
}

table {
	border-spacing: 2rem;
	width: 100%;

	th, td {
		padding: 1% 3% 1%;
	}

}
table, th, td {
	border: 1px solid white;
	@media (max-width: 500px) {
		font-size: 1.8rem;
	}
}

footer p {
	text-align: center;
	margin: 5% 0;
	font-size: 1.6rem;
}










